* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto; /* Esto permite que el contenido crezca y ocupe el espacio restante */
}

footer {
  flex-shrink: 0; /* Evita que el pie de página se reduzca */
  text-align: center;
}

header {
  height: 50px;
  margin-bottom: 40px;
}
